body {
    display: flex;
    flex-direction: column;
    min-height: 270vh;
    height: 100%;
    margin: 0px;
}

.centered {
    display: block;
    width: 70vw
}

* {
    font-family: Roboto
}

.f {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 21px;
    
}

.wtxt {
    color: white;
}

a:visited, a {
    color: #ffffffa8;
}

.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero, .footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

button {
    height: 45px;
    width: 160px;
    background-color: #3882f6;
}


.hero, .info, .quote, .signup, .footer, .centered{
    display: flex;
    justify-content: center;
}

/* SIZING */
.hero {
    flex: 6;
}

.info {
    flex: 4;
}

.quote {
    flex: 3;
}

.signup {
    flex: 4;
}
/* HERO */

.centered.one {
    flex-direction: column;
    margin-top: 25px;
}

.header, .links, .main-content, .awesome, .hero-main, .img-placeholder {
    display: flex;
}

.header {
    flex: 4;
    justify-content: space-between;
    align-items: baseline;
}

.links {
    gap: 20px;
}

.hero-main {
    flex: 6;
    justify-content: c;
}

.main-content {
    flex: 2;
    margin-right: 85px;
    flex-direction: column;
}

.emptyhero {
    flex: 3;
}

.img-placeholder{
    font-size: 25px;
    background-color: #969da0ad;
    align-items: center;
    justify-content: center;
}

.img-placeholder, .main-content {
    flex: 1;
}

.logotext {
    font-size: 28px;
    color: #f9faf8;
    font-weight: 800;
}

.main-text {
    flex: 2;
    font-size: 58px;
    font-weight: 800;
    text-wrap: wrap;
    margin-right: 10px;
}

.sub-text {
    font-size: 22px;
    color: #ffffffba;
    flex: 2;
    text-wrap: wrap;
    margin-bottom: 15px;
    
}

.main-button {
    background-color: #3882f6;
    border-radius: 9px;
    border: none;
    outline: none;
    border-width: 10px;
    font-size: 23px;
    font-weight: 600;
    flex: 1;
}

.main-button:hover, .sub-button:hover {
    background-color: #2d62b1ed;
}


/* INFO */


.centered.two {
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.info-container {
    flex: 3;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 85px;
}

.info-title {
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    color: #1f2937;
    font-weight: 800;

}

.sbtxt-img-container {
    flex-direction: column;
    width: 220px;
    height: 332px;
}

.block-placeholder {
    height: 220px;
    width: 220px;
    border: 6px;
    border-style:solid;
    border-color: #3882f6;
    border-radius: 20px;
    box-sizing: border-box;
}

p {
    color: #1f2937da;
    font-size: 20px;
    text-align: center;
}

.emptyspace {
    flex: 1;
}

/* QUOTE */

.centered.three {
    flex-direction: column;
    margin: 0px 420px;
    padding: 45px 0px;
}



/* SIGNUP */


.centered.four {
    align-items: center;
    justify-content: center;
}

.action{
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 0px 140px;
}

.topbot-text {
    gap: 2px;
}

.sub-button {
    background-color: #3882f6;
    border-radius: 9px;
    border: 3px;
    border-color: white;
    outline: none;
    font-size: 23px;
    font-weight: 600;
    border-style: solid;
}

/* FOOTER */

.footer {

    flex: 1;
}

.centered.five {
    justify-content: center;
    align-items: center;
}
